body {
  background-color: #f5f5f5;
}
.store-title {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 0.5rem;
}
.store-title > div {
  width: 50%;
  padding: 1rem;
  text-align: center;
}
.store-title > div:nth-child(1) {
  border-right: 1px solid #f5f5f5;
}
.store-title i {
  margin-right: 0.4rem;
  color: #999;
}
.store-title span {
  color: #ff6000;
}
.lunbo .swiper-container {
  width: 100%;
  height: 12rem;
}
.lunbo .swiper-container .swiper-wrapper {
  width: 100%;
}
.lunbo .swiper-container .swiper-slide {
  width: 100%;
}
.lunbo .swiper-container .swiper-slide img {
  width: 100%;
  height: 12rem;
}
.lunbo .swiper-pagination-bullet {
  width: 0.8rem;
  height: 0.2rem;
  background: #000;
  opacity: .2;
}
.lunbo .swiper-pagination-bullet-active {
  background-color: #00a6ff;
}
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.6rem 0;
  background-color: #fff;
}
.menu > a {
  width: 25%;
  display: inline-block;
  margin-top: 0.4rem;
  height: 5rem;
}
.menu > a img {
  width: 3.4rem;
  height: 3.4rem;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.menu > a p {
  margin-top: 0.4rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
}
.three {
  display: flex;
  align-items: center;
  margin: 1rem 0 0.5rem;
}
.three > div {
  width: 50%;
  background-color: #fff;
}
.three .headleft {
  box-sizing: border-box;
  height: 9rem;
  padding: 1.6rem 0.9rem 0.48rem 1.2rem;
  position: relative;
}
.three img {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.three .headright > div {
  box-sizing: border-box;
  height: 4.5rem;
  position: relative;
  padding: 0 1.2rem;
}
.all {
  background-color: #fff;
  margin-bottom: 0.1rem;
  padding: 0.3rem 2.5%;
  color: #666;
}
.s-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
.s-list a {
  display: block;
  width: 50%;
  box-sizing: border-box;
  padding: 1rem 0.7rem 0 1.2rem;
}
.s-list a:nth-child(odd) {
  border-right: 1px solid #f5f5f5;
}
.s-list a p {
  color: #ff6000;
}
.s-list a p span {
  color: #999;
}
.s-list a p em {
  display: inline-block;
  background-color: #05b2c2;
  color: #fff;
  font-style: normal;
  transform: scale(0.8);
}
.s-list .img-wrap {
  padding: 0 1.5rem 1.5rem 0;
}
.s-list .img-wrap img {
  width: 100%;
}
